.lobby {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    background-color: turquoise;
    overflow-y: hidden;
}


.lobby > header {
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}
.lobby > header h1 {
    font-size: 3.4rem;
    user-select: none;
}
.lobby > header h2 {
    font-size: 2.5rem;
}
.lobby > header h3 {
    font-size: 3rem;
}

.QRcode {
    position: absolute !important;
    left: calc(150px);
    top: calc(52% - 150px);
    width: 300px;
    aspect-ratio: 1/1;
    outline: 5px solid black;
    outline-offset: 10px;
    animation: burbuja 400ms ease-in-out;
    background-color: white;
}

.startButton {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 2em;
    font-weight: bold;
}

.startButton:disabled {
    background-color: darkgray;
    color: #282c34;
}

.gameCode {
    text-transform: uppercase;
    font-family: sans-serif;
    user-select: text !important;
}

.lobby .icono {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #ad2424;
    border-radius: 20%;
    animation: infinite reverse linear rotarPersonajes 30s;
    position: relative;
    box-shadow: 3px 3px black;
}
.lobby .icono > h4 {
    position: absolute;
    bottom: calc(0% - 65px);
    width: 100px;
    max-width: 100px;
    height: 40px;
    background: aliceblue;
    border-radius: 0 0 50% 50%;
    text-wrap: none;
    overflow: visible;
    white-space: nowrap;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-size: 2em;
    box-shadow: inherit;
    user-select: none;
}

.icono img {
    max-width: 100px;
    aspect-ratio: 1/1;
}

.lobby .jugadores {
    transition: 500ms;
    position: relative;
    animation: infinite rotarPersonajes 30s linear;
    background: #f390ad;
    outline: 13px double black;
    margin-top: calc(50% - 300px);
    width: 600px;
    aspect-ratio: 1/1;
    transform-origin: 50% 50%;
    border-radius: 50%;
}
/*.jugadores .icono {*/
/*    opacity: 0;*/
/*}*/
.lobby .jugadores .palo {
    width: 50px;
    height: 350px;
    transform-origin: 50% 100%;
    position: absolute;
    left: 50%;
    top: 20%;
}
.lobby .jugadores .palo:nth-child(1) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 1));
}
.lobby .jugadores .palo:nth-child(1) .icono {
    rotate: calc(45deg * 1 - 90deg);
}
.lobby .jugadores .palo:nth-child(2) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 2));
}
.lobby .jugadores .palo:nth-child(2) .icono {
    rotate: 270deg;
    rotate: 270deg;
    background-color: #147714;
}
.lobby .jugadores .palo:nth-child(3) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 3));
}
.lobby .jugadores .palo:nth-child(3) .icono {
    rotate: 270deg;
    rotate: -135deg;
    background-color: #147714;
}
.lobby .jugadores .palo:nth-child(4) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 4));
}
.lobby .jugadores .palo:nth-child(4) .icono {
    rotate: calc(45deg * 4 - 360deg);
    background-color: #2323a1;
}
.lobby .jugadores .palo:nth-child(5) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 5));
}
.lobby .jugadores .palo:nth-child(5) .icono {
    rotate: calc(45deg * 5 - 90deg);
    background-color: #2323a1;
}
.lobby .jugadores .palo:nth-child(6) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 6));
}
.lobby .jugadores .palo:nth-child(6) .icono {
    rotate: calc(45deg * 6 - 180deg);
    background-color: #d2b638;
}
.lobby .jugadores .palo:nth-child(7) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 7));
}
.lobby .jugadores .palo:nth-child(7) .icono {
    rotate: calc(45deg * 7 - 270deg);
    background-color: #d2b638;
}
.lobby .jugadores .palo:nth-child(8) {
    transform: translate(-50%, -50%) rotate(calc(45deg * 8));
}
.lobby .jugadores .palo:nth-child(8) .icono {
    rotate: calc(45deg * 8 - 360deg);
}

@keyframes rotarPersonajes {
    to {
        transform: rotate(360deg);
    }
}
@keyframes burbuja {
    0% {
        opacity: 0;
        scale: 0;
    }
    75% {
        scale: 105%;
        opacity: 1;
    }
    100% {
        scale: 100%;
    }
}



.round {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100vh;
}
.round header {
    grid-column: 1/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.round header .prompt {
    min-width: 25%;
    max-width: 25%;
    text-align: center;
    line-height: 1.6;
    font-size: 2.6rem;
    font-family: sans-serif;
    color: #fafa1f;
    text-shadow: #574c1d 0 5px;
    user-select: text;
}
.round header > h2 {
    width: 100px;
    font-size: 4rem;
    font-family: sans-serif;
    transform: skew(-15deg) rotate(-15deg);
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 5px 5px gray;
}

.round .promptHeader div:last-child {
    width: 100px;

    display: flex;
    flex-direction: column;
    font-size: 2em;
    transform: skew(5deg) rotate(5deg);
    font-family: sans-serif;
    text-transform: lowercase;
    padding: 10px 30px;
    background-color: #333232;
    gap: 10px;
    color: white;
    box-shadow: -5px 5px black;
    text-align: center;
}

.round .promptHeader div:last-child > h3 {
    font-size: 0.5em;
}

.round .promptHeader div:last-child > * {
    margin: 0;

}

.round .promptMessages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.round .promptMessages .promptResponse {
    width: 500px;
    height: 300px;
    border-radius: 50px;
    background-color: #f1f1f1;
    user-select: text;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    overflow: hidden;
    padding: 30px;
    text-transform: uppercase;
    box-shadow: -10px -7px gray;
}
.round .promptMessages .promptResponse:nth-child(2) {
    box-shadow: 10px -7px gray;
}

.answerScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    font-size: 1.5em;
}


.answerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.answerInput input[type="text"] {
    width: 300px;
    max-width: 500px;
    line-break: anywhere;
    max-lines: 2;
    font-size: 1em;
    border-top-right-radius: 10% 55%;
}

.answerInput button {
    width: 300px;
    max-width: 500px;
    font-size: 1.5em;
}

.answerInput > h2 {
    position: absolute;
    right: -25px;
    top: -45px;
    rotate: 25deg;
    font-size: 1em;
}

.answerScreen .jugadores {
    position: relative;
    width: 700px;
    height: 300px;
    display: flex;
    gap: 20px;
}

.answerScreen .jugadores .listaJugadores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    gap: 20px;
    width: 100%;
}

.answerScreen .jugadores .listaJugadores .icono {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: 1.5em;
    font-weight: bold;
}

.answerScreen .jugadores .listaJugadores .icono > h4{
    margin: 0;
    backdrop-filter: brightness(80%) blur(5px);
    padding: 5px;
}

.answerScreen .jugadores .listaJugadores > * {
    width: 100px;
    height: 100px;
}

.sombraJugadores {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}